@font-face {
  font-family: 'Space Grotesk Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 300 700;
  src: url('@fontsource-variable/space-grotesk/files/space-grotesk-latin-wght-normal.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Noto Sans Devanagari';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('@fontsource/noto-sans-devanagari/files/noto-sans-devanagari-devanagari-700-normal.woff2')
    format('woff2');
}
